<table class="index">
  <thead>
  	<tr>
  		<th><%= t("name") %></th>
  		<th><%= 'Calea' %></th>
  		<th><%= t(:action) %></th>
  	</tr>
  </thead>
  <tbody>
    <% @taxons.each do |taxon| %>
      <tr id="<%= dom_id(taxon)%>">
        <td><%= taxon.name %></td>
        <td><%= taxon.permalink%></td>
  	    <td class="actions">	                         
		      <%= link_to "Remove",  remove_accounts_article_taxon_path(@article, taxon.id), :method=>:delete %>
  	    </td>        
      </tr>
    <% end %>
    <% if @taxons.empty? %>
     <tr><td colspan="3"><%= 'none' %>.</td></tr>
    <% end %>
  </tbody>
</table>
