<script type="text/javascript">
  function displayRow(){
    var row = document.getElementById("captionRow");
    if (row.style.display == '') row.style.display = 'none';
    else row.style.display = '';
  }
</script>
<h4><%= "Categorii disponibile" %></h4>
<table class="index">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("path") %></th>
      <th><%= t("action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @available_taxons.each do |taxon| %>
      <tr id="<%= dom_id(taxon, :sel) %>">
        <td><%= taxon.name %></td>
        <td><%=  taxon.permalink %></td>
        <td class="actions">
          <%= link_to  t("select"),
          #:controller=>"accounts/taxons",:article_id=>@article.permalink,:id=>taxon.id,:action => :select ,
                            select_accounts_article_taxon_path(@article, taxon.id),
                           :remote => true, :class => 'iconlink' %>
        </td>
      </tr>
    <% end %>
    <% if @available_taxons.empty? %>
     <tr><td colspan="3"><%= t('no_match_found') %>.</td></tr>
    <% end %>
  </tbody>
</table>
