<%= #render :partial => 'shared/article_sub_menu'
 %>

<%= render :partial => 'shared/article_tabs', :locals => {:current => "Taxons"} %>
<div id="selected-taxons">
  <%= render :partial => "taxon_table", :locals => {:taxons => @taxons} %>
</div>


<%= form_tag('#') do %>
  <label><%= 'Caută' %>:</label>
  <input id="searchtext" size="25">
<% end %>

<%= javascript_tag do %>
    function search_for_taxons(){
    $.ajax({
    data: {q: $("#searchtext").val() },
    dataType: 'html',
    success: function(request){
    jQuery('#search_hits').html(request);
    },
    type: 'POST',
    url: '<%= available_accounts_article_taxons_url(@aricle, :format => 'js') %>'
    });
    }

    $("#searchtext").keypress(function (e) {
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
    search_for_taxons();

    return false;
    } else {
    return true;
    }
    });

    $("#searchtext").delayedObserver(function() {
    search_for_taxons();
    }, 0.75);
<% end %>

<br/>
<div id="search_hits"></div>

