<%= form_for [:accounts, @promotion]  do |f| %>
<% if @promotion.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>
	<ul>
		<% @promotion.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

    <div class="field">
      <%= f.label t(:name) %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label t(:description) %>
      <%= f.text_area :description %>
    </div>

    <p id="starts_at_field">
      <%= f.label t(:starts_at) %>
      <%= f.text_field :starts_at, :class => 'datepicker' %>
    </p>
    <p id="expires_at_field">
      <%= f.label t(:ends_at) %>
      <%= f.text_field :ends_at, :class => 'datepicker' %>
    </p>
    <p class="field">
      <%= f.label 'Nr. de extrageri' %>
      <%= f.text_field :extractions_count %>
    </p>

    <div class="actions">
	<%= f.submit "Salvare", :class => "button orange"%>
</div>
<% end %>