<h1>Editare promoţie</h1>


<%= form_for(@promotion, :url => accounts_promotion_path, :html => { :method => :put, :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  

  <%= link_to 'Back', accounts_promotions_path %>

<% end %>



