<h1>Listare promoţii</h1>
<div class="toolbar">
<%= link_to t("new_promotion"), new_accounts_promotion_path, :class=> "button green" %>
</div>


<table class="index" >
  <tr>
    <th>Nume</th>
    <th>Data început</th>
    <th>Data sfîrşit</th>

    <th colspan="3" ></th>
  </tr>

<% @promotions.each do |promotion| %>
  <tr>
    <td><%= promotion.name %></td>
    <td><%= promotion.starts_at %></td>
    <td><%= promotion.ends_at %></td>

     <td><%= link_to 'Show', accounts_promotion_path(promotion)  %></td>
     <td><%= link_to 'Edit', edit_accounts_promotion_path(promotion) %></td>
     <td><%= link_to 'Destroy',accounts_promotion_path(promotion), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= #will_paginate(:previous_label => "&#171; #{"<"}", :next_label => "#{">"} &#187;")
  %>

<br />


