<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @promotion.name %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @promotion.description %>
</p>

<p>
  <b><%=t(:starts_at)  %> :</b>
  <%= @promotion.starts_at.strftime("%d/%m/%Y")  %>
</p>
<p>
  <b><%=t(:ends_at)  %>:</b>
  <%= @promotion.ends_at.strftime("%d/%m/%Y")   %>
</p>

<div id="ticket-batches">
  <h4>Tichete</h4>
  <ul>
  <% @promotion.ticket_batches.each do |ticket_batch| %>
       <li>
         <%= ticket_batch.tickets_count %>
        <%= link_to 'download',download_accounts_promotion_ticket_batch_path(@promotion, ticket_batch) %>
       </li>

  <% end%>
  </ul>
</div>
<div id="batches"></div>

<% if  @promotion.started? and !@promotion.ended?  %>
    <%= link_to 'new batch', new_accounts_promotion_ticket_batch_path(@promotion), :id => "new_batch_link" %>
<% end %>
|
<%= link_to 'Back', accounts_promotions_path %>
<% if  @promotion.extractions.count < @promotion.extractions_count and @promotion.ended? %>
    <div id="extractions">
      <h3>Extragerea</h3>
    <p>Va rugăm să efectuaţi extragerea cu nr <%= @promotion.extractions.count - @promotion.extractions_count %></p>

      <%= button_to 'Extrage', extract_accounts_promotion_extractions_path(@promotion),  :remote => false, :disable_with => 'Extragerea...', :class=>"button green" %>
    </div>
<% end %>

<% content_for :cap do %>
    <script type="text/javascript">
        jQuery(document).ready(function(){

            jQuery('#new_batch_link').click(function (event) {
                event.preventDefault();
                jQuery(this).hide();
                jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#batches').html(r);} });
            });



        });


    </script>
<% end %>


