<h1>Autentificare</h1>

<%= form_tag accounts_sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>

  <p>
    <%= label_tag :password,t(:password) %><br />
    <%= password_field_tag :password %>
  </p>



  <%= submit_tag "Autentificare", :class=>"button blue" %>
    <%= link_to t(:forgot_password), new_accounts_password_path  %>

<% end %>
