<h2>Ce ai vrea să faci astăzi?</h2>

<div class="what-to-do">
  <ul>
  <li class="consumer">
    <h4>Consumator</h4>
    <img src="images/customer.png"/>
   <p> Caută un produs special sau veghează oferte incitante! </p>
  </li>
  <li class="supplier">
    <h4>Furnizor</h4>
    <img src="images/company.png"/>
    <p>Lasă-te descoperit de consumatori şi rămîi competitiv pe piaţă!</p>
  </li>
  </ul>

</div>