<%= form_for [:accounts, @location]  do |f| %>
<% if @location.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
	<ul>
		<% @location.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label t(:name) %>
	<%= f.text_field :name %>
</div>

    <div class="field">
    	<%= f.label t(:description) %>
       	<%= f.text_area :description %>
    </div>


<div class="field">
  	<%= f.label t(:address_line1) %>
  	<%= f.text_field :address_line1 %>
  </div>
    <div class="field">
      	<%= f.label t(:address_line2) %>
      	<%= f.text_field :address_line2 %>
      </div>


    <div class="field">
      <%= f.label :region_id, :Regiune %>
       <%= f.collection_select :region_id, Region.all, :id, :name, :prompt => " -- Select -- " %>
      </div>



<div class="actions">
	<%= f.submit "Salvare", :class => "button orange"%>
</div>
<% end %>