<h1>Editing location</h1>


<%= form_for(@location, :url => accounts_location_path, :html => { :method => :put, :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  

  <%= link_to 'Back', accounts_locations_path %>

<% end %>



