<h1>Listare locaţii</h1>
<div class="toolbar"  >
<%= link_to t("new_location"), new_accounts_location_path, :class => "button green" %>
</div>

<table class="index">
  <tr>
    <th>Denumire</th>
    <th>Informaţii de contact</th>
    <th>Data actualizare</th>
    <th colspan="3"></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
     <td><%= location.contact_information %></td>
    <td><%= location.updated_at %></td>

     <td><%= #link_to 'show', accounts_location_path(location)
     %></td>
     <td><%= link_to 'Edit', edit_accounts_location_path(location) %></td>
     <td><%= link_to 'Destroy',accounts_location_path(location), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />


