<% content_for :sidebar do %>
      <%= #render "shared/taxonomies" 
      %>


<h3>Categorii</h3>


<ul class='taxons-list'>
  <% @taxons.each do |taxon| %>

      <li>

        <%= link_to taxon.name, seo_url(taxon) %>
      </li>

 
  <% end %>
</ul>
<% end %>
<div class="new-arrivals">
<%= render :partial => "shared/articles", :locals => {:articles => @articles}   %>
</div>


