<h1><%= #accurate_title
%></h1>

<%= breadcrumbs(@taxon) %>

<% content_for :sidebar do %>
    <h3>
    <%= @taxon.name
    #link_to small_image(product), product
                %>
    </h3>
<% end %>

<% if @taxon.children.empty? || !params[:keywords].blank? %>
  <% " hook :taxon_products do " %>
    <%= #render  :locals => { :taxon => @taxon }
    %>
    <%= render :partial => "shared/articles", :locals => {:articles => @articles,:taxon => @taxon}   %>
  <% #end %>
<% else %>
  <% #" :taxon_children do" %>
    <% content_for :sidebar do %>
        <ul class="taxons-list">
          <% @taxon.children.each do |taxon| %>
                  <li>
               <%= link_to taxon.name, seo_url(taxon), :class => 'breadcrumbs' %>
                  </li>
             <% end %>

          <%=# render :partial => "taxon", :locals => {:taxons=>@taxon.children}
          %>
        </ul>

    <% end %>
    <%= render :partial => "shared/articles", :locals => {:articles => @articles,:taxon => @taxon}   %>
<% end %>


