<%= form_for [:accounts, @article] do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:name) %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:description) %>
    <%= f.text_area :description %>
  </div>
    <div class="field">
    <%= f.label t(:price) %>
    <%= f.text_field :price %>
  </div>

    <ul>
        <% @current_user.locations.each do |location| %>
          <%= check_box_tag "article[location_ids][]", location.id, @article.locations.include?(location) %>
            <li><%= location.name %></li>
          <% end %>
        </ul>


  <div class="actions">
    <%= f.submit "Salvare", :class => "button orange" %>
  </div>
<% end %>
