<h1>Editare articol</h1>


<%= render :partial => 'shared/article_tabs', :locals => {:current => "Article Details"} %>
<br class="clear" />

<%= form_for(@article, :url => accounts_article_path, :html => { :method => :put, :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <%= link_to 'Show', accounts_article_path(@article) %> |
  <%= link_to 'Back', accounts_articles_path %>

<% end %>



