<h1>Listare articole</h1>
<div class="toolbar">
<%= link_to t("new_article"), new_accounts_article_path, :class=> "button green" %>
</div>


<table class="index" >
  <tr>
    <th>Denumire</th>
    <th>Pret</th>
    <th>Actualizat la</th>

    <th colspan="3" ></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.name %></td>
    <td><%= article.price %></td>
    <td><%= article.updated_at %></td>

     <td><%= #link_to 'show', accounts_article_path(article)
     %></td>
     <td><%= link_to 'Edit', edit_accounts_article_path(article) %></td>
     <td><%= link_to 'Destroy',accounts_article_path(article), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

<br />


