<h1>Articol nou</h1>
<%= form_for [:accounts, @article]  do |f| %>
<% if @article.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
	<ul>
		<% @article.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label t(:name) %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label t(:price) %>
	<%= f.text_field :price %>
</div>
<div class="actions">
	<%= f.submit "Creare",:class => "button orange" %>
</div>
<% end %>

<%= link_to 'Back', accounts_articles_path %>
