<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description %>
</p>

<p>
  <b>Created at:</b>
  <%= @article.created_at %>
</p>


<%= link_to 'Edit', edit_accounts_article_path(@article) %> |
<%= link_to 'Back', accounts_articles_path %>
