
<%= render :partial => 'shared/article_tabs', :locals => {:current => "Images"} %>

<%= form_for [:accounts, @article, @image], :html => { :multipart => true } do |f| %>
  <table class="basic-table">
    <tr>
      <td><%= "thumbnail" %>:</td>
      <td><%= link_to(image_tag(@image.attachment.url(:mini)), @image.attachment.url(:article)) %></td>
    </tr>
    <%= render :partial => "form", :locals => { :f => f } %>
  </table>
  <p class="form-buttons">
    <%= button "update" %>
    <%= 'or' %> <%= link_to "cancel", accounts_article_images_path(@article), :id => "cancel_link" %>
  </p>
<% end %>
