

<%= render :partial => 'shared/article_tabs', :locals => {:current => "Images"} %>

<table class="index">
  <tr>
    <th>Imagine</th>
 
    <th>Text </th>
    <th>Acţiuni</th>
  </tr>
<%= @article.name %>
  <% @article.images.each do |image| %>
    <tr id="<%= dom_id(image) %>">
      <td>
      	<%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:article)) %></td>
         
       <td><%= image.alt %></td>
      <td class="actions">
        <%= link_to 'Edit', edit_accounts_article_image_url(@article, image), :class => 'edit' %>
        &nbsp;

        <%= link_to 'Delete',accounts_article_image_path(@article, image), :confirm => 'Are you sure?', :method => :delete %>
      </td>
     
    </tr>
  <% end %> 



</table>

<div id="images"></div>
<br/>
<p>
  <% if @article.images.size <= 2 %>
      <%= link_to 'Adauga', new_accounts_article_image_path(@article), :id => "new_image_link" %>
  <% end %>
</p>

<% content_for :cap do %> 
  <script type="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#new_image_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
      });

    });
  </script>
 <% end %>