<h4><%= "Adaugă imagine" %></h4>
<%= form_for(:image, :url => { :controller => 'images', :action => 'create' }, :html => { :multipart => true }) do |form| %>
  <table class="basic-table">
    <%= render :partial => "form", :locals => { :f => form } %>
  </table>
  <p >
    <%= button "Trimite"%>
    <%= 'or' %> <%= link_to "cancel", "#", :id => "cancel_link" %>
  </p>
<% end %>


 <script type="text/javascript">    
  jQuery('#cancel_link').click(function (event) { 
    jQuery('#new_image_link').show();
    jQuery('#images').html('');
  });  
 
</script> 

 
 
