---------------------------------------------------------------------------------------------
Vă rugăm să nu răspundeţi la acest email deoarece este unul automat.
---------------------------------------------------------------------------------------------

Bine aţi venit <%= @user.name %> pe paginile eCatalog.md,

Pentru a activa contul e necesar să confirmaţi adresa email.
Faceţi click pe linkul indicat sau copiaţi în bara de adrese
<%= activate_account_accounts_user_url(@user,:token =>@user.login_token) %>

Vă mulţumim că aţi ales serviciile noastre!
---------------------------------------------------------------------------------------------
Aveţi întrebări?
---------------------------------------------------------------------------------------------
Nu ezitaţi să le adresaţi echipei eCatalog!
support@ecatalog.md
