---------------------------------------------------------------------------------------------
Vă rugăm să nu răspundeţi la acest email deoarece este unul automat.
---------------------------------------------------------------------------------------------

Bună ziua <%=@user.name %>,

Pentru a reseta parola e necesar să faceţi un click pe linkul ce urmează
sau copiaţi în bara de adrese
<%= edit_accounts_password_url(@user.login_token) %>

O zi buna!
---------------------------------------------------------------------------------------------
Aveţi întrebări?
---------------------------------------------------------------------------------------------
Nu ezitaţi să le adresaţi echipei eCatalog!
support@ecatalog.md
