<h1>Lot de tichete nou</h1>
<h4><%= "Adaugă lot de tichete" %></h4>
<%= form_for(:ticket_batch, :url => { :controller => 'accounts/ticket_batches', :action => 'create' }, :html => { :multipart => true }) do |form| %>

    <p >
      <%= button "Trimite"%>
      <%= 'or' %> <%= link_to "cancel", "#", :id => "cancel_link" %>
    </p>
<% end %>


<script type="text/javascript">
    jQuery('#cancel_link').click(function (event) {
        jQuery('#new_batch_link').show();
        jQuery('#batches').html('');
    });

</script>