
  <div data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">


    <% if @article.price %>
      <div data-hook="product_price" class="columns five  omega ">
        
        <div id="product-price">
          <h6 class="product-section-title"><%= t(:price) %></h6>
          <div><span class="price selling" itemprop="price"><%= number_to_currency(@article.price , :unit => "MDL", :separator => ",", :delimiter => "",  :format => "%n %u" ) %></span></div>
        </div>


      </div>
    <% end %>    

  </div>

