<% if image %> 
  <%= image_tag image.attachment.url(:article), :itemprop => "description" %>
<% else %>
  <%=
  article_image(@article, :itemprop => "image")
  #image_tag @article.images.first.attachment.url(:original), :itemprop => "image"
  %>
<% end %>