<!-- no need for thumnails unless there is more then one image -->
<% if article.images.size > 1 %>
  <ul id="article-thumbnails" class="thumbnails inline" data-hook>
    <% article.images.each do |i| %>
      <li class="tmb-all" id="tmb-<%= i.id.to_s %>"><%= link_to image_tag(i.attachment.url(:mini)), i.attachment.url(:article) %></li>
    <% end %>

  </ul>
<% end %>
