<h1>Editing article</h1>


<%= render :partial => 'shared/article_tabs', :locals => {:current => "Article Details"} %>
<br class="clear" />

<%= form_for(@article, :url => article_url, :html => { :method => :put, :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <%= link_to 'Show', @article %> |
  <%= link_to 'Back', articles_path %>

<% end %>



