<p id="notice"><%= notice %></p>
<!--
<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description %>
</p>

<p>
  <b>Created at:</b>
  <%= @article.created_at %>
</p>




<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>-->


<div data-hook="article_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'article-details' %>

  <div class="columns six alpha" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">

      <div id="article-images" data-hook="article-images">
        <div id="main-image" data-hook>
          <%= render :partial => 'image' %>
        </div>
        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails', :locals => {:article => @article} %>
        </div>
      </div>

    </div>
  </div>

  <div class="columns ten omega" data-hook="product_right_part">
    <div class="row" data-hook="product_right_part_wrap">

      <div id="article-description" data-hook="product_description">

        <h1 class="article-title" itemprop="name"><%= @article.name %></h1>

        <div itemprop="description" data-hook="product_description">
          <%= (@article.description) rescue t(:product_has_no_description) %>
        </div>
      </div>
      <div id="cart-form" data-hook="cart_form">
        <%= render :partial => 'cart_form' %>
        <p>
          <b>Oferit de:</b>
          <%= link_to @article.user.name, user_path(@article.user) %>

        </p>
        <% if @article.locations  %>
            <%= render :partial => 'shared/locations', :locals => {:locations=> @article.locations  }%>
        <% end %>
      </div>
    </div>
  </div>

</div>