#language-bar,
#login-nav,
#store-nav {
  float: right;
   margin-top: 10px;}
  #language-bar li,
  #login-nav li,
  #store-nav li {
    float: left;
    margin-right: 1em;
    list-style: none; }

.address-form label,
#creditcard label {
  width: 200px;
  display: block;
  float: left; }

#creditcard label {
  width: 150px; }

input.default {
  color: #999; }
  input.default:focus {
    color: inherit; }

p.help-text {
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0;
  color: #999; }




body {
  margin-top: 0px;
  background-color: #162F54;
  color: #476D9B;
 }

  a {
    color: #4884BD; }
    a:active,
    a:visited {
      color: #4884BD; }

  #header {
  height:95px;
  position: relative;
  margin-bottom: 13px;
  }
  #header,
  #footer {
    position: relative;
    clear: both; }
  #content {
    margin: 0em 1em 1em 1em;
    padding: 1em;
    background: #fff;
    color: #111;
    min-height: 500px; }
    #content a {
      color: #3C7DFB; }
      #content a:active,
      #content a:visited {
        color: #3C7DFB; }
    #content.with-sidebar {
      background: #fff url(../../images/admin/bg/content-back.png) right top repeat-y;
      padding-right: 340px;
      position: relative; }
      #sidebar {
        position: absolute;
        width: 305px;
        top: 0; right: 0;
        padding-top: 3em;
        }
        #sidebar .box {
          padding:10px;
        }
        #sidebar .box h3 { margin: 0 0 10px 0; }
        #sidebar h3 {
          margin: 0 10px; }
          #sidebar h3 a {
            color: #111;
            text-decoration: none; }
        #sidebar h5 {
          margin: 0 10px;
          width: 130px;
          float: left;}
        #sidebar span.sku {
          display: block;
          font-weight: normal; }
        #sidebar img {
          float: right;
          margin-right: 1em; }
          #sidebar img.calendar_date_select_popup_icon {
            float: none; }
        #sidebar .field {
          padding: 0 1em; }
        #sidebar .form-buttons {
          padding: 0 1em; }
        #sidebar h4 {
          margin-left: 10px; }
        #sidebar ul.sidebar {
          clear: both;
          position: relative;
          margin: 0;
          padding: 0; }
          #sidebar ul.sidebar li {
            list-style: none; }
            #sidebar ul.sidebar li a {
              display: block;
              padding: 10px 20px 10px;
              outline: none;
              text-decoration: none;
              color: #666 !important; }
              #sidebar ul.sidebar li a:hover { background-color:#ddd }
              #sidebar ul.sidebar li.active a {
                font-weight: bold;
                background: url(../../images/admin/bg/menu-current.png) left center no-repeat;
                color: #363 !important;
                margin-left: -20px;
                padding-left: 30px; }
        #sidebar .order-number,
        #sidebar .order-status {
          text-align: right;
          margin-right: 20px; }
        #sidebar .order-status {
          padding: 7px 15px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          float: right;
          background-color: #999;
          color: #111;
          text-transform: uppercase; }
          #sidebar .order-status.new {
            background-color: #5D9C0F;
            color: #fff; }
          #sidebar .order-status.canceled {
            background-color: #c00;
            color: #fff; }

  #header #logo {
  position: absolute;
  top: 0;
  left: 10px;
}
  #header h1 {
  position: absolute;
  left: 200px;
  bottom: 19px;
    margin: 10px 10px 10px 10px;
    display: block;
    text-decoration: none;
    line-height: 100%;

  }
  #header h1 a {
  color: #8CB952;
  }
  #admin-menu { clear: both; }
  #admin-menu,
  #sub-menu {
    margin: 0 1em;
    }
    #admin-menu li {

    }
    #admin-menu ul,
    #sub-menu ul {
      padding: 0;
      margin: 0; }
      #admin-menu ul li,
      #sub-menu ul li {
        float: left;
        margin-right: 1em;
        list-style: none; }
      #admin-menu ul li,
      #sub-menu ul li {
        margin-right: 0; margin-bottom: -1px;}
        #admin-menu ul li a,
        #sub-menu ul li a {
          display: block;
          padding: 10px 20px;
          color: #fff;
          text-decoration: none;
          outline: none; }
        #admin-menu ul li.selected a,
        #sub-menu ul li.selected a {
          background-color: #0095da;
          }
        #admin-menu ul li.selected {
          border-bottom:1px solid #0095DA;
        }
  #IE7 #admin-menu {
    height: 39px; }
  #admin-menu {
    background: #154e8c url(../../images/admin/bg/admin_tab_back.png) top left repeat-x;
    border-top: 1px solid #4B83E2;
    border-right: 1px solid #34599B;
    border-bottom: 1px solid #41A6F0;
    }
    #admin-menu ul {
      margin-bottom: -1px; }
      #admin-menu ul li:first-child {
        border-left: 1px solid #34599B; }
      #admin-menu ul li.selected {
        background: #0095da url(../../images/admin/bg/admin_tab_selected_back.png) top left repeat-x;
        border-left: 1px solid #41A6F0;
        border-top: 1px solid #41A6F0;
        border-right: 1px solid #4986BF;
        height: 40px;
        margin-top: -2px; }
  #sub-menu {
    background: #0095da;
    border-left: 1px solid #41A6F0;
    border-right: 1px solid #4986BF; }
    #IE7 #sub-menu ul {
      height: 26px; }
    #sub-menu ul li a {
      padding: 3px 7px;
      margin: 10px 5px;
      color: #154e8c;
      background: none; }
    #sub-menu ul li.selected a {
      background: #154e8c;
      color: #9BC3FC;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
  #slide-content {
    margin: 0 1em;
    background-color: #cdf; }
  .toolbar {
    float: right;
    margin-bottom: 1em; }
    .toolbar ul.actions {
      margin: 0;
      padding: 0;
      float: right; }
      .toolbar ul.actions li {
        float: left;
        margin-right: 1em;
        list-style: none; }
      .toolbar ul.actions li {
        margin-right: 0; }
    .toolbar.order-links a {
      text-transform: capitalize; }
  .search-form {
    display: none;
    padding: 1em; }
    .search-form label {
      display: block; }
  /*a.button {*/
    /*background: transparent url(../../images/admin/buttons/right_01.png) no-repeat scroll top right;*/
    /*display: block;*/
    /*float: left;*/
    /*margin-right: 6px;*/
    /*padding-right: 20px;*/
    /*text-decoration: none;*/
    /*color: #111 !important;*/
    /*font-weight: bold;*/
    /*outline: none; }*/
    /*a.button span {*/
      /*background: transparent url(../../images/admin/buttons/left_01.png) no-repeat;*/
      /*display: block;*/
      /*line-height: 22px;*/
      /*padding: 7px 0 5px 14px;*/
      /*text-shadow: #efefef 1px 1px 0px; }*/
    /*a.button img {*/
      /*vertical-align: middle;*/
      /*margin: 0 3px 0 0; }*/
    /*a.button.cancel span {*/
      /*font-weight: normal; }*/
    /*a.button.small {*/
      /*font-size: 1em;*/
      /*background: transparent url(../../images/admin/buttons/right_01_small.png) no-repeat scroll top right;*/
      /*padding-right: 20px; }*/
      /*a.button.small span {*/
        /*background: transparent url(../../images/admin/buttons/left_01_small.png) no-repeat;*/
        /*padding: 5px 0 3px 20px;*/
        /*line-height: 21px; }*/
    /*a.button.green {*/
      /*background: transparent url(../../images/admin/buttons/green/right_01.png) no-repeat scroll top right;*/
      /*color: #151 !important; }*/
      /*a.button.green span {*/
        /*background: transparent url(../../images/admin/buttons/green/left_01.png) no-repeat; }*/
  /*button {*/
    /*border: 0;*/
    /*cursor: pointer;*/
    /*font-weight: bold;*/
    /*padding: 0 20px 0 0;*/
    /*text-align: center;*/
    /*background: url(../../images/admin/buttons/right_01.png) center right no-repeat;*/
    /*font-size: 1.3em;*/
    /*outline: none; }*/
    /*button span {*/
      /*position: relative;*/
      /*display: block;*/
      /*white-space: nowrap;*/
      /*padding: 0 0 0 20px;*/
      /*height: 35px;*/
      /*line-height: 35px;*/
      /*background: url(../../images/admin/buttons/left_01.png) center left no-repeat;*/
      /*text-shadow: #efefef 1px 1px 0px; }*/
      button span img {
        vertical-align: middle;
        margin: 0 3px 0 0; }
    button:focus {
      outline: none; }
    button.tick {
      background: none;
      width: 24px; }
  input.title,
  textarea {
    margin: 0; }
  .errorExplanation {
    border: solid 2px #f15700;
    padding: 1em;
    margin-bottom: 1em;
    background: #cdf;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    .errorExplanation ul {
      color: #f15700;
      list-style: square; }
    .errorExplanation h2 {
      font-size: 1.75em;
      padding-left: 40px;
      background: url(../../images/admin/icons/orb/32x32/3.png) center left no-repeat; }
  ul.checkbox-list {
    list-style: none; }
    ul.checkbox-list li {
      display: block;
      float: left;
      width: 200px; }
      ul.checkbox-list li label {
        font-weight: normal !important; }
  #busy_indicator {
    margin-bottom: 1em; }
  select#filter_state {
    font-size: 1.5em; }
  h2.order-number {
    margin-bottom: 0; }
  h4.order-status {
    display: block;
    font-weight: normal; }
  .adr {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: solid 1px #999;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    min-width: 46%; }
    .adr .fn {
      font-weight: bold; }
    .adr h4 {
      margin-bottom: 1em;
      border-bottom: 1px solid #ccc;
      padding-bottom: .5em;
      color: #666; }
  ul.taxonomy-tree {
    cursor: default;
    list-style: none;
    margin: 0;
    padding: 0 0 0 35px;
    min-height: 2em; }
    ul.taxonomy-tree li.taxon {
      clear: both;
      padding: 5px; }
      ul.taxonomy-tree li.taxon span,
      ul.taxonomy-tree li.taxon input {
        float: left;
        margin-right: 1em; }
      ul.taxonomy-tree li.taxon .name {
        float: left;
        cursor: move; }
      ul.taxonomy-tree li.taxon.new ul.taxonomy-actions,
      ul.taxonomy-tree li.taxon.editing ul.taxonomy-actions {
        display: none; }
      ul.taxonomy-tree li.taxon.to-destroy {
        color: #900;
        text-decoration: line-through; }
        ul.taxonomy-tree li.taxon.to-destroy ul.taxonomy-actions {
          display: none; }
  .placeholder {
    height: 30px;
    clear: both;
    border: dashed 2px #ddd; }
  ul.taxonomy-actions {
    float: left;
    list-style: none;
    margin: 0px 0px 10px 10px;
    padding: 0; }
    ul.taxonomy-actions li {
      float: left;
      margin-right: 5px; }
      ul.taxonomy-actions li img {
        vertical-align: text-top; }
      ul.taxonomy-actions li.disabled {
        opacity: .5; }
  h3.warning {
    background-image: url(../../images/admin/icons/fugue/exclamation.png);
    background-position: 10px 15px;
    background-repeat: no-repeat;
    padding-left: 35px; }
  #searching {
    clear: both;
    margin-top: 2em; }


.pagination{
  padding-top: 10px;
  text-align: right;
}
a.page, span.page {
  padding: 0px 5px;
  margin: 0 3px;
}
a.page {
  text-decoration: none;
  border: 1px solid #9aafe5;
  color: #2e6ab1;
}
a.page:hover, a.page:active {
  border: 1px solid #2b66a5;
  color: #000;
  background-color: LightYellow;
}

a.next_page {
  font-weight: bold;
}


span.disabled_page {
  border: 1px solid #929292;
  color: #929292;
}

span.current_page {
  font-weight: bold;
  border: 1px solid navy;
  background-color: #2e6ab1;
  color: #FFF;
}

div#calculator-settings-warning {
 color: #f00;
}
#progress{
  display:none;
  background:#154E8C url(../../images/admin/bg/admin_tab_back.png) repeat-x scroll left top;
  color:#fff;
  font-size:170%;
  height:25px;
  left:33%;
  padding:10px 0 15px;
  position:fixed;
  text-align:center;
  width:320px;
  font-weight:bold;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
}
#progress img{
  vertical-align:middle;
  padding-right:10px;
}

ul#shipping-specs {
  margin: 0;
  padding-bottom:10px;
}
ul#shipping-specs li {
  list-style-image:none;
  display:inline;
}

.article-scopes ul > li {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.article-scopes .invalid {
  background-color: red;
}

div.article-preview-articles {
  max-height: 200px;
  overflow: auto;
}

#preference-settings input, #preference-settings select, #preference-settings textarea{
  float:left;

}

#preference-settings input[type=text], #preference-settings input[type=password] {
  width: 250px;
}

#preference-settings input.input_integer[type=text] {
  width: 100px;
}

#preference-settings label{
  clear:both;
  display:block;
  float:left;
  width:170px;
}
.index .price{
  width: 50px;
  text-align:center;
}
.index .qty{
  width: 50px;
  text-align:center;
}
.index .total{
  width: 50px;
  text-align:right;
}
.index .orders-actions{
  width:40px;
  padding-left:10px;
}







/* Article Groups */

table#article_scopes tr {
  background-color: #eee;

}
table#article_scopes tr td {
  border-top: 4px solid #fff;
  border-bottom: 1px solid #bbb;
  padding: 5px 10px;
}
table#article_scopes tr td.actions {
  vertical-align: middle;
  text-align: right;
}
table#article_scopes tr td table {
  margin: 0;
  width: auto;
}
table#article_scopes tr td table tr td {
  padding: 0;
  border:  none;
  padding-right: 5px;
}

#article_group_forms_container {
  position: relative;
}
#new_article_group_form {
  position: absolute;
  right: 25px;
  bottom: 0;
}
#new_article_group_form p {
  text-align: right;
  margin: 0;
}


/*------- STARTS HERE -------*/
#bar {
	width:100%;
	height:35px;
	padding:15px 0;
	background:url(../images/bar.png) repeat-x;
}
#container {
	width:960px;
	margin:0 auto;
}

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    background:#d2e0ea url(../images/buttonbg.png) repeat-x; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
    color:#445058; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    background:url(../images/loginArrow.png) no-repeat 53px 7px;
    display:block
}

#loginButton:hover {
    background:url(../images/buttonbgHover.png) repeat-x;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#d2e0ea;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

#nav-bar {
    float: right;
    text-align: right;
    color: #5aa4ff;
    display: inline;
    list-style: none;
}

#nav-bar li {
           display: inline;
}
/* button
---------------------------------------------- */
.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 6px 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

/* orange */
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#faa51a', endColorstr = '#f47a20');
}

.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f88e11', endColorstr = '#f06015');
}

.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f47a20', endColorstr = '#faa51a');
}


/* green */
.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');

}
.green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
#content a:active.button, #content a:visited.button, #content a.button {
    color: #fafafa;
}

/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00adee', endColorstr = '#0078a5');
}

.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0095cc', endColorstr = '#00678e');
}

.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top, #0078a5, #00adee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0078a5', endColorstr = '#00adee');

}
#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}


#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}