
html, body{
    height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
*:focus { outline: 0; }

body {
  line-height: 1em;
  color: black;
  background: #ffffff;
    position: relative;
    margin: 0px auto;

}
ol, ul { list-style: none; }
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote { quotes: "" ""; }
q:before { content: ""; }
q:after { content: ""; }
blockquote:before { content: ""; }
blockquote:after { content: ""; }
img a { border: none; }
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: #ffffff;
  color: #ffffff;
}
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h1 img { margin: 0; }
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
h2 img { margin: 0; }
h3 img { margin: 0; }
h4 img { margin: 0; }
h5 img { margin: 0; }
h6 img { margin: 0; }
p { margin: 0 0 1.5em; }
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
a {
  text-decoration: underline;
  color: #2e6ab1;
}
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
strong { font-weight: bold; }
em { font-style: italic; }
dfn {
  font-style: italic;
  font-weight: bold;
}
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666666; }
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del { color: #666666; }
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul { margin: 0 1.5em; }
li ol { margin: 0 1.5em; }
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc;
}
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal;
}
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th, td, caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #e5ecf9; }
tfoot { font-style: italic; }
caption { background: #eeeeee; }
.quiet { color: #666666; }
.loud { color: #111111; }
form p.field {
  margin-bottom: 0.5em;
  clear: both;
}
form p.field span.req {
  color: red;
  float: left;
  margin-left: 2px;
  position: relative;
  top: -3px;
}
form p.field input[type=text] {
  float: left;
  margin: 0 5px 7px 0;
}
form p.field select {
  float: left;
  margin: 0 5px 7px 0;
}
#progress{
  display:none;
  background:#154E8C url(../../images/admin/bg/admin_tab_back.png) repeat-x scroll left top;
  color:#fff;
  font-size:170%;
  height:25px;
  left:33%;
  padding:10px 0 15px;
  position:fixed;
  text-align:center;
  width:320px;
  font-weight:bold;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
}
#progress img{
  vertical-align:middle;
  padding-right:10px;
}
form p.field.radios { line-height: 150%; }
label { font-weight: bold; }
div#checkout #checkout_form_address #billing label.error {
  color: red;
  float: left;
  text-align: left;
  display: inline-block;
  top: 0px;
  font-size: 11px;
  border: none;
  padding: 0px;
  width: auto;
}
div#checkout #checkout_form_address #shipping label.error {
  color: red;
  float: left;
  text-align: left;
  display: inline-block;
  top: 0px;
  font-size: 11px;
  border: none;
  padding: 0px;
  width: auto;
}
fieldset { margin-bottom: 1em; }
legend {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
body {
  margin-top: 10px;
  background: #ffffff url(../images/body-back.png) top left repeat-x;
}
div.left {
  float: left;
  width: 49%;
}
div.right {
  float: right;
  width: 49%;
}
a { outline: none; }
#maincontainer {min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 ;
}


#wrapper {
  background: transparent url(../images/wrapper-back.png) top center no-repeat;
  padding: 25px 20px 20px;
  /*position: relative;*/

}
body.two-col #wrapper { background-image: url(../images/wrapper-back-2.png); }
.container {
  width: 950px;

  margin: 0 auto;
  overflow: hidden;
  display: block;
}
#sidebar {
  display: inline;
  float: left;
  width: 150px;
  margin-right: 10px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#sidebar h3 { margin-bottom: 0.5em; }
body.one-col #content {
  display: inline;
  float: left;
  width: 950px;
}
body.two-col #content {
  display: inline;
  float: left;
  width: 750px;
}
#header {
  position: relative;
  color: #2e6ab1;
  clear: both;
}
#header a { color: #2e6ab1; }
#header a:hover { color: #1727ed; }
#footer {
  padding-top: 2em;
  clear: both;
}
#footer div.left { width: 37%; }
#footer div.right {
  width: 63%;
  text-align: right;
}
h1 { font-size: 2.5em; }
.form-buttons, .clear { clear: both; }
input.title { width: auto; }
p.follow-all {
  font-size: 1.3em;
  text-align: center;
  display: block;
}
p img {
  float: left;
  margin-right: 5px;
  vertical-align: middle;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
.navigation-list {
  list-style: none;
  margin: 0 0 1.5em -15px;
}
.navigation-list li { margin: 0; }
.navigation-list li a {
  cursor: pointer !important;
  text-decoration: none;
  color: #333333;
  display: block;
  line-height: 2.5em;
  padding-left: 20px;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
}
.navigation-list li a:hover { background: url(../images/menu-hover.png) right center no-repeat; }
.navigation-list li.current { width: 200px; }
.navigation-list li.current a {
  width: 180px;
  background: url(../images/menu-current.png) right center no-repeat;
  white-space: nowrap;
  overflow: hidden;
}
.navigation-list li.current a.root { width: 183px; }
.navigation-list a.root {
  color: #222222;
  font-size: 1.5em;
  text-indent: -5px;
  line-height: 2.2em;
}
#breadcrumbs { margin-bottom: 1em; }

#breadcrumbs ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: auto;
}
#breadcrumbs ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
#breadcrumbs ul li {
  line-height: 20px;
  color: #666666;
}
.breadcrumbs ul li a {
  text-decoration: none;
  padding: 5px 7px;
  color: #666666;
}
.breadcrumbs ul li span {
  text-decoration: none;
  padding: 5px 7px;
  color: #666666;
}
.breadcrumbs ul li span { color: #333333; }
div#login-bar { display: inline; }
ul#language-bar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
ul#language-bar li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
ul#language-bar strong { font-weight: normal; }
ul#nav-bar {
  line-height: 50px;
  float: right;
  clear: both;
  font-size: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#nav-bar li {
  float: left;
  margin-left: 1em;
    color:#f0f0f0;
}
#nav-bar a{
    color: #f0f0f0;
}
ul#nav-bar li.cart-indicator a {
  padding-right: 40px;
  background: transparent url(../images/cart-empty_x32.png) center right no-repeat;
  display: block;
}
ul#nav-bar li.cart-indicator a.full { background-image: url(../images/cart-full_x32.png); }
.pagination {
  padding-top: 10px;
  text-align: right;
}
.pagination a.page {
  padding: 0px 5px;
  margin: 0px 3px;
}
.pagination span.page {
  padding: 0px 5px;
  margin: 0px 3px;
}
.pagination a.page {
  text-decoration: none;
  border: 1px solid #9aafe5;
  color: #2e6ab1;
}
.pagination a.page:hover {
  border: 1px solid #2b66a5;
  color: #000000;
}
.pagination a.page:active {
  border: 1px solid #2b66a5;
  color: #000000;
}
.pagination a.next_page { font-weight: bold; }
.pagination span.disabled_page {
  border: 1px solid #929292;
  color: #929292;
}
.pagination span.current_page {
  font-weight: bold;
  border: 1px solid;
  border-color: #162f54;
  background-color: #2e6ab1;
  color: #ffffff;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
.flash {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
}
.flash.notice {
  background: #ccddff url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #556699;
  border: 1px solid #99aacc;
}
.flash.errors {
  background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError p { margin: 0px; }
.formError ul { margin-bottom: 0px; }
.formError h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.errorExplanation {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.errorExplanation p { margin: 0px; }
.errorExplanation ul { margin-bottom: 0px; }
.errorExplanation h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.fieldWithErrors { clear: none; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
button, a.button, input.button {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: #efefef url(../images/buttons/bg-button.png) center left repeat-x !important;
  border-style: solid;
  border-width: 1px !important;
  border-color: #dddddd #999999 #999999 #dddddd !important;
  -moz-outline-radius: 0.3em;
  color: #111111;
  display: inline-block;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size: 1.1em !important;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
  overflow: visible;
  padding: 10px 17px;
  text-decoration: none;
  text-transform: lowercase;
  width: auto;
  height: auto;
  cursor: pointer;
}
button.primary, a.button.primary, input.button.primary {
  font-weight: bold;
  color: #000000;
}
button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
a.button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
input.button:hover { background-image: url(../images/buttons/bg-button-hover.png) !important; }
button.large, a.button.large, input.button.large {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 1.4em !important;
  line-height: 1.4em;
}
button.small, a.button.small, input.button.small {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 5px 10px;
}
button.small img { margin: 0 3px 0 0 !important; }
a.button.small img { margin: 0 3px 0 0 !important; }
input.button.small img { margin: 0 3px 0 0 !important; }
button.update img { margin-right: 7px; }
button.checkout img { margin-right: 7px; }
a.button.update img { margin-right: 7px; }
a.button.checkout img { margin-right: 7px; }
input.button.update img { margin-right: 7px; }
input.button.checkout img { margin-right: 7px; }
button img { vertical-align: middle; }
a.button img { vertical-align: middle; }
input.button img { vertical-align: middle; }
button:focus { outline: none; }
a.button:focus { outline: none; }
input.button:focus { outline: none; }
button::-moz-focus-inner {
  padding: 0px;
  border: none;
}
p a.button img { margin: 0 5px 0 0; }
p button img { margin: 0 5px 0 0; }
.prices { font-weight: bold; }
.prices #article-details .prices { font-size: 1.25em; }
.price.selling { color: #2e6ab1; }
#article-details .price.selling { font-size: 1.5em; }
.price.diff {
  font-style: italic;
  font-weight: normal;
  color: #666666;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
.article-listing {
  list-style: none;
  margin: 2em 0px 0px 0px;
  padding: 0px;
}
.article-listing li {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 180px;
  width: 140px;
  text-align: center;
  float: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid #dddddd;
  position: relative;
}
.article-listing li a {
  display: block;
  text-decoration: none;
  color: #111111;
}
.article-listing li a.info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  width: 150px;
  min-height: 60px;
  background: #ffffff url(../images/shadow_top.png) 0px -35px repeat-x;
  border-top: 1px solid #ffffff;
}
.article-listing li a.info span { display: block; }
.article-listing li:hover { border-color: #1b1b1b; }
.article-listing li:hover a.info {
  background: #1b1b1b url(../images/bottom_shine.png) bottom left repeat-x;
  color: #ffffff;
}
ul.thumbnails {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.thumbnails li {
  float: left;
  margin-right: 5px;
  padding: 3px;
  border: 1px solid #ffffff;
  min-height: 50px;
  width: 50px;
  position: relative;
}
ul.thumbnails li img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
ul.thumbnails li:hover { border-color: #cccccc; }
ul.thumbnails li.selected { border-color: #999999; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#article-variants { margin-bottom: 1em; }
#article-variants ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#article-images {
  display: inline;
  float: left;
  width: 270px;
  margin-right: 10px;
}
#article-images h4 {
  padding: 6px 0px;
  margin: 0px;
  font-weight: bold;
  clear: both;
}
#article-images #main-image {
  min-height: 250px;
  position: relative;
}
#article-images #main-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#article-description {
  display: inline;
  float: left;
  width: 310px;
  margin-right: 10px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#cart-form {
  display: inline;
  float: left;
  width: 270px;
}
#taxon-crumbs {
  display: inline;
  float: left;
  width: 950px;
  margin-right: 10px;
  display: block;
  float: right;
  margin-top: 20px;
  width: 300px;
}
dl.table-display {
  margin: 0;
  padding: 0;
}
dl.table-display dt {
  float: left;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #dddddd;
}
dl.table-display dd {
  float: left;
  margin: 0;
  padding: 5px;
  border-top: 1px solid #dddddd;
}
dl.table-display dt { width: 100px; }
dl.table-display dd { width: 180px; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
div#subtotal {
  float: right;
  width: 49%;
  width: auto;
  text-align: left;
}
table { border-collapse: collapse; }
table th {
  background: transparent;
  border-bottom: 1px solid #dddddd;
}
table#cart tr td {
  border-bottom: 1px solid #dddddd;
  padding: 1em 0;
}
table#cart tr#none td { border-bottom: none; }
table#cart h4 { margin-bottom: 0em; }
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
#signup #new-customer {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
#signup #new-customer h2 { margin-bottom: 0.25em; }
#signup #new-customer p { margin-bottom: 10px; }
#signup #new-customer p input.title {
  padding: 3px;
  margin: 0px;
}
#signup #new-customer input[type=checkbox] { top: 0em; }
#login #existing-customer {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
#login #existing-customer h2 { margin-bottom: 0.25em; }
#login #existing-customer p { margin-bottom: 10px; }
#login #existing-customer p input.title {
  padding: 3px;
  margin: 0px;
}
#login #existing-customer input[type=checkbox] { top: 0em; }
input.openid_url {
  background: #ffffff url(../images/openid-inputicon.gif) no-repeat scroll 0pt 50%;
  padding-left: 18px;
  border: 1px solid #bbbbbb;
  font-size: 1.5em;
}
.no_margin_or_padding {
  margin: 0;
  padding: 0;
}
.leftie {
  float: left;
  width: 49%;
}
.rightie {
  float: right;
  width: 49%;
}
.clearfix {
  overflow: hidden;
  display: inline-block;
}
.clearfix { display: block; }
.nowrap { white-space: nowrap; }
.no-bullets { list-style: none; }
.inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
.inline-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
ol.progress-steps {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 12px;
}
ol.progress-steps li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  float: left;
  color: #999999;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(../images/step-progress/incomplete-incomplete.gif);
}
ol.progress-steps li span {
  padding: 5px 14px 7px 24px;
  display: block;
  float: left;
  background-position: top right;
  background-repeat: no-repeat;
}
ol.progress-steps li a {
  text-decoration: none;
  color: #333333;
}
ol.progress-steps li.current-first span { padding-left: 14px; }
ol.progress-steps li.completed-first span { padding-left: 14px; }
ol.progress-steps li.current-first { background-image: url(../images/step-progress/current-first.gif); }
ol.progress-steps li.completed-first { background-image: url(../images/step-progress/completed-first.gif) !important; }
ol.progress-steps li.current { color: #ffffff; }
ol.progress-steps li.current-first { color: #ffffff; }
ol.progress-steps li.current-last { color: #ffffff; }
ol.progress-steps li.completed { background-image: url(../images/step-progress/completed-completed.gif); }
ol.progress-steps li.current { background-image: url(../images/step-progress/completed-current.gif); }
ol.progress-steps li.current-last { background-image: url(../images/step-progress/completed-current.gif); }
ol.progress-steps li.next { background-image: url(../images/step-progress/current-incomplete.gif); }
ol.progress-steps li.next-last { background-image: url(../images/step-progress/current-incomplete.gif); }
ol.progress-steps li.last span { background-image: url(../images/step-progress/incomplete-right.gif); }
ol.progress-steps li.next-last span { background-image: url(../images/step-progress/incomplete-right.gif); }
ol.progress-steps li.current-last span { background-image: url(../images/step-progress/current-right.gif); }
div#checkout { position: relative; }
div#checkout .progress-steps {
  position: absolute;
  top: 0.5em;
  right: 0;
}
div#checkout form {
  background-position: top right;
  background-repeat: no-repeat;
}
div#checkout #checkout_form_address { background-image: url("../images/steps/2.png"); }
div#checkout #checkout_form_delivery { background-image: url("../images/steps/3.png"); }
div#checkout #checkout_form_address #billing label {
  width: 190px;
  float: left;
  padding-right: 10px;
  text-align: right;
}
div#checkout #checkout_form_address #shipping label {
  width: 190px;
  float: left;
  padding-right: 10px;
  text-align: right;
}
div#checkout #checkout_form_address #billing input { width: 304px; }
div#checkout #checkout_form_address #shipping input { width: 304px; }
div#checkout #checkout_form_address #billing select { width: 304px; }
div#checkout #checkout_form_address #shipping select { width: 304px; }
div#checkout #checkout_form_address #billing p.checkbox { padding-left: 200px; }
div#checkout #checkout_form_address #shipping p.checkbox { padding-left: 200px; }
div#checkout #checkout_form_address .form-buttons { padding-left: 200px; }
div#checkout #checkout_form_address #billing p.checkbox label {
  width: auto !important;
  float: none !important;
}
div#checkout #checkout_form_address #shipping p.checkbox label {
  width: auto !important;
  float: none !important;
}
div#checkout #checkout_form_address #billing p.checkbox input { width: auto !important; }
div#checkout #checkout_form_address #shipping p.checkbox input { width: auto !important; }
div#checkout #checkout_form_payment { background-image: url("../images/steps/5.png"); }
div#checkout #checkout_form_payment select { width: 75px; }
div#checkout #checkout_form_payment #payment {
  display: inline;
  float: left;
  width: 310px;
  margin-right: 10px;
}
div#checkout #checkout_form_payment #order_details {
  display: inline;
  float: left;
  width: 470px;
  margin-right: 10px;
}
div#checkout #payment-methods {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 720px;
}
div#checkout #payment-methods li {
  display: block;
  display: inline;
  float: left;
  width: 190px;
  margin-right: 10px;
}
div#checkout #payment-methods li.last {
  display: inline;
  float: left;
  width: 190px;
}
div#checkout #checkout-summary {
  background-color: #c3c9df;
  float: right;
  margin-top: 10px;
  padding: 20px;
  width: 180px;
}
div#checkout #checkout-summary {
  background-color: #c3c9df;
  float: right;
  margin-top: 10px;
  padding: 20px;
  width: 180px;
}

#menu { height: 50px;  }

		#menu li strong { float:left; margin-left:20px; margin-top:5px; display:inline; width:100px; font-size: 12px; cursor: pointer; 	}
		#menu li em { float:left; margin-left:20px; width:100px; font-style:normal; font-size:11px; color:#CCC; cursor: pointer; display:inline	}
		#menu li.on em {  color:#FFF}

		#menu ul { margin:0; padding:0; list-style:none}

		#menu li { float:left; height:50px; width:136px; color:#FFF;}
		#menu li a { height:50px; width:136px; display:block; color: inherit; text-decoration:none}
		#menu li a:hover { background: url(/images/topmenu_tabs_sprite.gif) no-repeat left; display:block; color: #FFF }
		#menu li a:hover em { color: #FFF }

		#menu li.on { background: url(/images/topmenu_tabs_sprite.gif) no-repeat right; }
		#menu li.on a:hover { background:none;}
		#menu li.on a { color: black; color:#0067b6}
		#menu li.on a em { color: black}






.taxons-list {
list-style:none;
margin:0 0 1.5em -15px;
}

.taxons-list li a {
cursor:pointer !important;
text-decoration:none;
color:#333;
display:block;
line-height:2.5em;
padding-left:20px;
width:170px;
white-space:nowrap;
overflow:hidden;
}

.taxons-list li a:hover {
    background: url(/images/menu-hover.png) right center no-repeat;
    color: #ffffff;

}

.taxons-list li.current {
width:200px;
}

.taxons-list li.current a {
width:180px;
background:url(/images/menu-current.png) right center no-repeat;
white-space:nowrap;
overflow:hidden;
}

.taxons-list li.current a.root {
width:183px;
}

.taxons-list a.root {
color:#222;
font-size:1.5em;
text-indent:-5px;
line-height:2.2em;
}

#bar {
    padding: 10px 60px 12px;
    font-size: 11px;
    line-height: 39px;
    text-align: left;
}

#loginBox {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    display: none;
    background-color: #F0F3F5;
    position: absolute;
    width: 210px;
    z-index: 100;
    border: 1px transparent;
    text-align: left;
    padding: 12px;
    top: 24.5px;
    right: 0px;
    margin-top: 5px;
    margin-right: 0px;
    color: lightSlateGray;
    font-size: 11px
}

#container,.menu-tabs {
    width: 940px;
    margin: 0 auto;
    position: relative;
}


#loginContainer a.login {
background: #ECA525;
padding: 4px 6px 6px;
text-decoration: none;
font-weight: bold;
color: white;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#loginContainer #login{
    background: #ECA525;
    padding: 4px 6px 6px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

a.login span {

background-repeat: no-repeat;
background-position: 100% 50%;
padding: 4px 16px 6px 0;
}

#loginContainer a.active {
background: #F0F3F5!important;
color: #666!important;
outline: none;
}

#loginContainer,#signup{
    display: inline;
    float: right;
}

#signup a.signup {
background: #71C42B;
padding: 4px 6px 6px;
text-decoration: none;
font-weight: bold;
color: white;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    margin-left: 2px;
}

#logo{
    text-align: left;
    display: inline;
    width: 400px
}

#loginForm fieldset{
    margin-bottom: 0em;

}

/*
companies*/
.company-listing {
list-style: none;
}
.company-listing li {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
height: 90px;
width: 70px;
text-align: center;
float: left;
margin: 10px;
padding: 10px;
border: 1px solid #DDD;
position: relative;
}

.company-listing li:hover {
border-color: #1B1B1B;
}
/*pagination*/

.pagination a, .pagination em, .pagination .previous_page, .pagination .next_page {
padding: 4px;
}
.pagination {
font-size: 12px;
}
.pagination a {
text-decoration:none;
}

/*.pagination {*/
/*padding-top:10px;*/
/*text-align:right;*/
/*}*/
/*.pagination a {*/

/*line-height:44px;*/
/*text-decoration:none;*/
/*border:1px solid #ddd;*/
/*border-left-width:0;*/
/*color:#393939;*/
/*padding:0 14px;*/
/*}*/


/*.pagination a.page {*/
/*text-decoration:none;*/
/*border:1px solid #9aafe5;*/
/*color:#2e6ab1;*/
/*margin:0 3px;*/
/*padding:0 5px;*/
/*}*/

/*.pagination span.page {*/
/*margin:0 3px;*/
/*padding:0 5px;*/
/*}*/

/*.pagination span.disabled_page {*/
/*border:1px solid #929292;*/
/*color:#929292;*/
/*}*/

/*.pagination span.current_page {*/
/*font-weight:700;*/
/*border:1px solid;*/
/*background-color:#2e6ab1;*/
/*color:#fff;*/
/*border-color:#162f54;*/
/*}*/
/*end pagination*/

/*begin search box*/
#searchBoxOne {
background: #EDEDED;
     padding-bottom: 2px;
    float: left;
}
#searchBoxOne input.search {
    font-size: 16px;
    color: #999;
    padding: 6px;
    -moz-box-shadow:inset 2px 2px 5px #ccc;
    box-shadow:inset 2px 2px 5px #ccc;
    border: 1px solid #b8b8b8;
}
#searchBoxOne input.submit {
    background: -webkit-gradient(linear, left top, left bottom, from(#0aa1be), to(#3fc7d9));
    background: -moz-linear-gradient(top, #0aa1be, #3fc7d9);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0aa1be', endColorstr='#3fc7d9');
    color: #FFF;
    border: 1px solid #29aeb9;
    height: 32px;
    line-height: 14px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*position: absolute;*/
    /*right: 4px;*/
    /*top: 3px;*/
    cursor: pointer;
    /*background: url(/images/01_submit.png) top left no-repeat;*/
    /*width: 67px;*/
    /*height: 32px;*/
    /*border: none;*/
    /*color: #dee4ff;*/
    /*cursor: pointer;*/
}
#searchBoxOne input.submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#3fc7d9), to(#0aa1be));
    background: -moz-linear-gradient(top, #3fc7d9, #0aa1be);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fc7d9', endColorstr='#0aa1be');

}
#searchBoxOne input.submit:focus,
#searchBoxOne input.submit:active  {
    background: -webkit-gradient(linear, left top, left bottom, from(#3fc7d9), to(#0aa1be));
    background: -moz-linear-gradient(top, #3fc7d9, #0aa1be);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fc7d9', endColorstr='#0aa1be');
    /*background: url(/images/01_submit.png) bottom left no-repeat;*/
}

/*end search box*/



/*Home page*/

.what-to-do ul {
list-style-type: none;
margin: 0;
padding: 0 0 0 10px;
font-size: 1.3em;
}

.what-to-do ul li {
display: block;
float: left;
margin: 0;
padding: 0 20px 0 0;
text-align: center;
width: 430px;
}

/*ToolTip*/
.tooltip {
    border-bottom: 1px dotted #000000; color: #000000; outline: none;
    cursor: help; text-decoration: none;
    position: relative;
}
.tooltip span {
    margin-left: -999em;
    position: absolute;
}
.tooltip:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 250px;
}
.tooltip:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
}
.tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.information { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }


footer {


    background: #F3F2F2;
    border-top: 1px solid #cccccc;
    padding: 10px;
    /*margin: 0;*/

    /*position: absolute;*/
    text-align: center;
    color: #43094E;
    width: 100%;
    /*height: 10px;*/
    bottom: 0px;
}


#flash_notice,#flash_success, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice,#flash_success, {
    background-color: #CFC;
    border: solid 1px #6C6;
}


#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

/*
promotions*/
.promotion-listing {
    list-style: none;
}
.promotion-listing li {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 90px;
    width: 240px;
    text-align: center;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #DDD;
    position: relative;
}

.promotion-listing li:hover {
    border-color: #1B1B1B;
}
