<h1>Listare companii</h1>

<ul class="company-listing">
  <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user %></li>
  <% end %>

</ul>
<hr class="space">
<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

