
<h1><%=@user.name  %></h1>
<p><%=simple_format@user.description %></p>
<h4>Locaţii</h4>
<% if @user.locations %>
    <%= render :partial => 'shared/locations', :locals => {:locations=> @user.locations  }%>
<% end %>
<h4>Produse</h4>
<%= render :partial => "shared/articles", :locals => {:articles => @articles}   %>
