<h1></h1>

<% content_for :sidebar do %>

  <h3><%= @article.name  %></h3>
  <br class="clear" />

  <ul class="sidebar article-menu">
   

      <li<%== ' class="active"' if current == "Article Details" %>>
        <%= link_to t("product_details"), edit_accounts_article_path(@article) %>
      </li>
      <li<%== ' class="active"' if current == "Images" %>>
        <%= link_to t("images"), accounts_article_images_path(@article) %>
      </li>
      <li<%== ' class="active"' if current == "Taxons" %>>
        <%= link_to t("categories"), accounts_article_taxons_path(@article) %>
      </li>
  
  </ul>
  <br class="clear" />

<% end %>
