<% content_for :sub_menu do %>
  <ul id="sub_nav">
    <%= hook :admin_article_sub_tabs do %>
      <%= tab :articles, :match_path => '/articles' %>
      <%= tab :option_types, :match_path => '/option_types' %>
      <%= tab :properties %>
      <%= tab :prototypes %>
      <%= tab :article_groups, :match_path => '/articles_groups', :css_class => 'last' %>
    <% end %>
  </ul>
<% end %>
