

<div data-hook="homepage_products">
<% if @articles.any? %>
<ul class="article-listing">
  <% @articles.each do |article| %>
   
      <li id="article_<%= article.id %>">
        <div class="article-image">
                  <%= link_to small_image(article, :itemprop => "name"), article %>
        </div>


          <%= #link_to image_tag(article.featured_image(:small),),article
#link_to small_image(product), product
            %>
          <%= link_to raw(article.name + " <span class='price selling'>#{ number_to_currency(article.price , :unit => "MDL", :separator => ",", :delimiter => "",  :format => "%n %u" )}</span>"),article,:class => 'info' %>
       
      </li>
<% end %>
  
</ul>
      <hr class="space">
<%= will_paginate( @articles, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;")
%>
<% end %>

    </div>