<ul>
  <%@locations.each do  |location| %>
      <li> <a class="tooltip" href="#">
        <%= location.name %>
        <span class="custom information"><em>Contact Information</em><%= location.contact_information %></span>
      </a>
      </li>
  <% end %>
</ul>