<%= #hook :admin_inside_taxonomy_form do 
%>



    <%= f.label :name, t("name") %> <span class="required">*</span><br />
    <%= #error_message_on :taxonomy, :name, :class => 'fullwidth title'  
%>
    <%= text_field :taxonomy, :name  %>

<% #end 
%>