<% content_for :cap do %>
  <%= javascript_tag "var taxonomy_id = #{@taxonomy.id};
    var loading = '#{escape_javascript t('loading')}';
    var new_taxon = '#{escape_javascript t('new_taxon')}';
    var server_error = '#{escape_javascript t('server_error')}';
    var taxonomy_tree_error = '#{escape_javascript t('taxonomy_tree_error')}';"
  %>
  <%= javascript_include_tag 'taxonomy' , 'jquery.cookie.js', 'jsTree/jquery.jstree.js' %>
<% end %>
