<table class="index" id='listing_taxonomies'>
  <tr>
    <th><%= t("name") %></th>
    <th></th>
  </tr>
<% for taxonomy in @taxonomies %>
  <tr id="<%= dom_id taxonomy %>">
	  <td>
	    <%= taxonomy.name %>
    </td>
    <td class="actions">
      <%= link_to 'Edit', edit_taxonomy_url(taxonomy)
%>
      &nbsp;
      <%= link_to 'Destroy', taxonomy, :confirm => 'Are you sure?', :method => :destroy %>
    </td>
  </tr>
<% end %>
</table>

