<%= #render :partial => 'admin/shared/configuration_menu' 
%>

<%= render :partial => "js_head" %>

<h1><%= t("taxonomy_edit")%></h1>

<p id="ajax_error" class="errorExplanation" style="display:none;"></p>

<%= form_for(:taxon, :url => taxonomy_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
	  <div>
	    <label><%= t("tree")%></label><br />
      <div id="taxonomy_tree" class="tree"></div>
  	</div>
  	<p id="progress" style="display:none;">
      <img src="/images/spinner.gif?1234540747" alt="Spinner" style="vertical-align:bottom;"/> <%= t('updating') %>..
    </p>
    <p><br/><small><%= t("taxonomy_tree_instruction")%></small></p>

	<p class="form-buttons">
	  <%= button t("update") %> <%= t("or") %> <%= link_to t("cancel"), taxonomies_path %>
  </p>
<% end %>


<% content_for :cap do %>
  <script type="text/javascript">
    
var initial = [
	   	{ "attr" :
	   	  { "id" : "<%= @taxonomy.root.id %>", "rel" : "root" },
			"data" : "<%= @taxonomy.root.name %>",
			"state" : "open",
			"children" : [
				<% @taxonomy.root.children.each_with_index do |taxon,i| %>
					{
						"attr" :
						{ "id" : "<%= taxon.id %>"},
						"data" : "<%= taxon.name %>"
						<% unless taxon.children.empty? %>
							,"state" : "closed"
						<% end %>
					}<%= "," if i < (@taxonomy.root.children.size - 1) %>
				<% end %>
			]
      	}
    ];
  </script>
<% end %>
