<%= #render :partial => 'admin/shared/configuration_menu' 
%>

<h1><%= t("new_taxonomy") %></h1>

<%= form_for(@taxonomy) do |f| %>

	<%= render :partial => "form", :locals => { :f => f } %>

	<p class="form-buttons">
	  <%= button t("create") %>
  </p>
<% end %>
