---------------------------------------------------------------------------------------------
Vă rugăm să nu răspundeţi la acest email deoarece este unul automat.
---------------------------------------------------------------------------------------------

Bună ziua <%= @ticket.name %>,

Tichetul cu numărul  <%= @ticket.ticket_number.upcase %> a fost înregistrat cu success.

Important: Trebuie să păstraţi ticketul înregistrat în original, pentru a putea intra în posesia
premiului daca te vei număra printre cîştigatori.

Lista cîştigătorilor va fi accesibilă pe adressa <%= promotion_url(@promotion) %>
în urma extragerii din <%= (@promotion.ends_at.end_of_day+2).strftime("%d/%m/%Y") %>.

Vă mulţumim pentru participare!
---------------------------------------------------------------------------------------------
Aveţi întrebări?
---------------------------------------------------------------------------------------------
Nu ezitaţi să le adresaţi echipei eCatalog!
support@ecatalog.md
