---------------------------------------------------------------------------------------------
Vă rugăm să nu răspundeţi la acest email deoarece este unul automat.
---------------------------------------------------------------------------------------------

Felicitări <%= @ticket.name %>,

Prin acest messaj vă informăm ca ticketul cu numărul <%=@ticket.ticket_number%>
este printre cîştigătorii promoţiei <%=@promotion.name %>.

Pentru detalii faceţi click pe linkul indicat sau copiaţi în bara de adrese
<%= promotion_url(@promotion) %>

Vă mulţumim pentru participare şi succese în continuare!
---------------------------------------------------------------------------------------------
Aveţi întrebări?
---------------------------------------------------------------------------------------------
Nu ezitaţi să le adresaţi echipei eCatalog!
support@ecatalog.md
