<h5>Înregistrare ticket </h5>
<%= form_for(:ticket ,:url => { :controller => 'tickets', :action => 'register' },  :html => { :multipart => true, :method =>:post }) do |f| %>

    <div class="field">
      <%= f.label t(:name) %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label t(:ticket_number) %><br />
      <%= f.text_field :ticket_number %>
    </div>
    <div class="actions">
      <%= f.submit "Trimite" %>
      <%= 'or' %> <%= link_to "cancel", "#", :id => "cancel_link" %>
    </div>
<% end %>

<script type="text/javascript">
    jQuery('#cancel_link').click(function (event) {
        jQuery('#register_ticket_link').show();
        jQuery('#batches').html('');
    });

</script>