<%= form_for [:accounts, @user] do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password,'Parola' %><br/>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation,'Parola confirmare' %><br/>
      <%= f.password_field :password_confirmation %>
    </p>

    <p>
      <%= f.label :name, 'Denumire' %><br/>
      <%= f.text_field :name %>
    </p>



    <p>
      <%= f.label :description ,'Descriere'%><br/>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :contact_person, 'Persoana de contact' %><br/>
      <%= f.text_field :contact_person %>
    </p>
    <p>
      <%= f.label :phone_number, 'Număr de telefon' %><br/>
      <%= f.text_field :phone_number %>
    </p>



    <%= f.submit 'Salvare',:class => "button orange" %>
<% end %>
