<% title "Promotii" %>
<h1>Listare promoţii</h1>
<div >
  <% if @promotions.any? %>
      <ul class="promotion-listing">
        <% @promotions.each do |promotion| %>

            <li id="promotion_<%= promotion.id %>">
               <%= link_to promotion.name, promotion_path(promotion) %>

            </li>
        <% end %>

      </ul>
      <hr class="space">

  <% end %>

</div>