<%title @promotion.name  %>
<h1><%=@promotion.name  %> </h1>
<p id="notice"><%= notice %></p>


<p>
  <b>Organizator:</b>
  <%=  link_to @promotion.user.name, user_path(@promotion.user ) %>
</p>
<p>
  <b>Descriere:</b>
  <%=simple_format @promotion.description %>
</p>


<p>
  <b><%=t(:starts_at)  %> :</b>
  <%= @promotion.starts_at.strftime("%d/%m/%Y")  %>
</p>
<p>
  <b><%=t(:ends_at)  %>:</b>
  <%= @promotion.ends_at.strftime("%d/%m/%Y")   %>
</p>


<%#  registration  %>
<% if @promotion.ended?  %>
    <h5>Rezultatele extragerii</h5>
    <ol>
      <% arr = Array.new(@promotion.extractions_count, 0) %>
      <% winners = @promotion.extractions.order('id DESC')  #sort_by { |e| e[:registered_at] } %>
      <% array_numbers = winners.map { |obj| obj.ticket.ticket_number } %>
      <% i1=arr.size-1 %>
      <% d=arr.size- array_numbers.size %>
      <% while i1-d >=0 %>
          <% arr[i1] = array_numbers[i1-d] %>
          <% i1=i1-1 %>
      <% end %>

      <% for i in 0..@promotion.extractions_count-1 do %>
          <li>
            <% if arr[i].to_s.eql?("0") %>
            <%="urmeaza extragerea" %>
            <% else %>
                <%= arr[i] %>
            <% end %>


          </li>
      <% end %>
    </ol>
<% end %>
<% if @promotion.started? and !@promotion.ended?  %>
    <div id="batches"></div>
    <%= link_to t(:register_ticket), register_promotion_ticket_path(@promotion),:id => "register_ticket_link" , :class=>"button green"%>
 <% end %>



<% content_for :cap do %>
    <script type="text/javascript">
        jQuery(document).ready(function(){

            jQuery('#register_ticket_link').click(function (event) {
                event.preventDefault();
                jQuery(this).hide();
                jQuery.ajax({type: 'GET', url: this.href, data: ({}), success: function(r){ jQuery('#batches').html(r);} });
            });

        });
    </script>
<% end %>


