<h1>Resetează parola</h1>

<%= form_for @user, :url => accounts_password_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label t("password") %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label t("password_confirmation") %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Salvează parola", :class => "button orange" %></div>
<% end %>