<h1><%= t(:reset_password)%></h1>

<%= form_tag accounts_passwords_path, :method => :post do %>
    <p>Aţi uitat parola? Introduceţi adresa de e-mail şi veţi primi un link pentru resetarea parolei</p>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div ><%= submit_tag "Trimite", :class=>"button blue" %></div>
<% end %>
