<!DOCTYPE html>
<html>
	<head>
		<title>Ecatalog</title>
		<%= stylesheet_link_tag("account") %>
		<%= # javascript_include_tag :defaults
%>
		<%= csrf_meta_tag %>
      <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css"%>

      <%= javascript_include_tag 'jquery-1.6.1.min.js','railsnew.js',   'jquery.suggest', 'jquery.tokeninput.js', 'jquery.delayedobserver.js', :cache => 'jquery-admin-plugins' %>
      <%= javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
			<%= javascript_include_tag('jquery.template') unless controller.controller_name == "overview" %>

		<%= javascript_include_tag '_admin.js' %>

		<%= javascript_tag "$ = jQuery;" %>
		<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

		<%= javascript_include_tag 'jquery.autocomplete.min.js' %>


		<%= yield :cap %>
	</head>
	<%
 if @body_class.nil?
      if content_for?(:sidebar)
        @body_class = 'one-col'
      # @body_class = 'two-col'

      else
        @body_class = 'one-col'
      end
    end
%>
	<body class="<%= @body_class %>" id="<%= @body_id %>">
		<!-- header -->
		<header>
			<div id="header"  class="container_bg">
				<div class="container">
                  <div id="logo" class="">
                    <a href="/"><img alt="logo_50" src="/images/logo81.png"/></a>

                  </div>

					<div id="login-bar">
						<ul id="nav-bar">
                          <li>
                            <%= link_to "Home", root_path %>
                          </li>
							<% if current_user %>
							<li>
								Logged in as <%= current_user.email %>.
							</li>
							<li>
								<%= link_to "Log out", log_out_path %>
							</li>
							<% else %>
							<li>
								<%= link_to "log in", log_in_path %>
							</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			</header>
				<!-- content -->
				<section id="content1">
					<div id="wrapper" class="container">

						<div id="progress" style="display:none;">
							<%= image_tag 'progress.gif' %> <%= 'loading' %>...
						</div>
                      <% if current_user %>
                          <div id="admin-menu" data-hook>
                            <ul data-hook="admin_tabs">
                              <%= render :partial => 'accounts/shared/tabs' %>
                            </ul>
                            <br class="clear"/>
                          </div>
                          <div id="sub-menu" data-hook>
                            <%= yield :sub_menu %>
                            <br class="clear"/>
                          </div>
                      <% end %>




						<div class="tile_bg_img">

							<div class="<%= 'with-sidebar ' if content_for?(:sidebar) %> clear tile_bg" id="content">
								<% flash.each do |name, msg| %>
								<%= content_tag :div, msg, :id => "flash_#{name}" %>
								<% end %>

								<%= yield %>

								<% if content_for?(:sidebar) %>
								<div id="sidebar">
									<%= yield :sidebar %>
								</div>
								<% end %>
							</div>
						</div>
					</div>
				</section>
				<!-- aside -->
				<aside>
					<div class="container5">
						<div class="inside">
							<div class="line-ver1">
								<div class="line-ver2">
									<div class="line-ver3">
										<div class="wrapper line-ver4">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>
				<!-- footer -->
				<footer>
					<div class="container5">
						<div class="inside">
						</div>
					</div>
				</footer>
	</body>
</html>
