<!DOCTYPE html>
<html>
	<head>
      <meta charset="utf-8">
      <title>eCatalog - <%= yield(:title).empty? ? "Catalogul meu electronic" : yield(:title) %></title>
		<%= stylesheet_link_tag ("screen") %>
		<%= # javascript_include_tag :defaults
%>
		<%= csrf_meta_tag %>
<%=#'jquery-1.4.2.min.js' jquery-1.6.1.js
 %>

      <%= javascript_include_tag 'jquery-1.6.1.min.js', 'railsnew',  'jquery.suggest', 'jquery.tokeninput.js', 'jquery.delayedobserver.js', :cache => 'jquery-admin-plugins' %>
      <%= javascript_include_tag('jquery.template') unless controller.controller_name == "overview" %>
      <%= javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"  %>
      <%= javascript_include_tag '_admin.js' %>
        <%= javascript_include_tag 'login.js' %>

		<%= javascript_tag "$ = jQuery;" %>
		<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
		<!--<%= javascript_include_tag 'jquery.alerts/jquery.alerts.js' %>-->
		<%= javascript_include_tag 'jquery.autocomplete.min.js' %>
        <%= javascript_include_tag 'product.js' %>

		<%= yield :cap %>
	</head>
	<%
 if @body_class.nil?
      if content_for?(:sidebar)
      #  @body_class = 'one-col'
       @body_class = 'two-col'

      else
        @body_class = 'one-col'
      end
    end
%>
	<body class="<%= @body_class %>" id="<%= @body_id %>">
	<%	
     # <!-- header -->
     %>
    <header>
      <div id="header" class="container_bg">
        <div id="bar">
          <div id="container" >
            <div id ="logo" class="">
              <a href="/"><img alt="logo_50" src="/images/logo81.png" /></a>

            </div>
            <% if current_user %>
                <div id="login-bar">
                  <ul id="nav-bar">
                    <li>
                      <%= link_to "Account", accounts_index_path %>
                    </li>

                    <li>
                      Logged in as <%= current_user.email %>.
                    </li>
                    <li>
                      <%= link_to "Log out", log_out_path %>
                    </li>
            <% else %>
                <% # AICI LOGIN FORM
                %>
                <div id="signup" >
                   <%=link_to  "Înregistrare", sign_up_path , :class=>:signup%>
                </div>

                <%= yield :loginForm %>

                <!-- Login Starts Here -->
                <div id="loginContainer">
                  <a href="#" id="loginButton" class="login" >
                    <span>Autentificare</span>

                  </a>

                  <div style="clear:both">
                  </div>
                  <div id="loginBox">
                    <%= form_tag accounts_sessions_path, :id => "loginForm" do %>
                        <fieldset id=body>
                          <fieldset>
                            <%= label_tag :email %>
                            <%= text_field_tag :email, params[:email] %>
                          </fieldset>
                          <fieldset>
                            <%= label_tag :password, "Parola" %>

                            <%= password_field_tag :password %>
                          </fieldset>

                          <%= submit_tag "Autentificare", :id => "login", :class=>"login" %>


                         <!-- <label for="checkbox">
                            <input type="checkbox" id="checkbox"/>
                            Remember me
                          </label>-->
                          <span>            <%=link_to t(:forgot_password), new_accounts_password_path  %>

										</span>

                        </fieldset>
										

                    <% end %>
                    </form>
                  </div>
                </div>
                <!-- Login Ends Here -->

                <!--<li>-->
                  <!--<%= link_to "Autentificare", log_in_path %>-->
                <!--</li>-->
            <% end %>
            </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="menu" class="menu-tabs">
        <!--<div id="container">-->
        <ul>
          <li class=<%= "on"  if params[:action] == "home"%> ><a href="/"><strong>Coperta</strong><em>Începe aici</em></a></li>
          <li class=<%= "on" if params[:controller] == "taxons"%>><a href="/contents"><strong>Produse</strong><em>Analizează pe plac</em></a></li>
          <li class=<%= "on" if params[:controller] == "users"%>><a href="/companies"><strong>Companii</strong><em>Descoperă furnizori</em></a></li>
          <li class=<%= "on" if params[:controller] == "promotions"%>><a href="/promotions"><strong>Promoţii</strong><em>Prinde clipa</em></a></li>
        </ul>

        <div id="searchBoxOne">
          <%= render :partial => 'shared/search' %>
          </div>
      </div>
    </header>
				<!-- content -->
				<section id="maincontainer">
					<div id="wrapper" class="container">

						<div id="progress" style="display:none;">
							<%= image_tag 'progress.gif' %> <%= 'loading' %>...
						</div>
						<div class="tile_bg_img">

                          <% if content_for?(:sidebar) %>
                              <div id="sidebar">
                                <%= yield :sidebar %>
                              </div>
                          <% end %>


                          <div id="content" class="columns omega <% if !content_for?(:sidebar) %> sixteen alpha <% else %> twelve <% end %>" data-hook>
								<% flash.each do |name, msg| %>
								<%= content_tag :div, msg, :id => "flash_#{name}" %>
								<% end %>

								<%= yield %>
							</div>
						</div>
					</div>
				</section>


				<!-- footer -->
    <footer>
     <section>produs de fastsoft s.r.l. <a href="mailto:support@ecatalog.md">trimite mesaj</a> </section>
    </footer>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20126276-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
	</body>
</html>
